*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}

/* Reuseable component */
/* .container{
    width: 1180px;
    margin: auto;
} */

/* header */
.name{
    color: orange;
}
.heading-span{
    color: #000;
}

#hero{
    display: flex;
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 80px;
}
.hero-content{
    width: 48%;
    padding-left: 6%;
    padding-top: 4%;
}

.hero-content img{
    width: 80%;
}
#hero p{
    margin-bottom: 30px;
}
.hero-btn{
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to left,orange,tomato);
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 16px;
}
/* -------- */
#dream{
    display: flex;
    background: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big{
    width: 48;
    padding-left: 6%;
    padding-top: 4%;
}

.dream-big img{
    width: 90%;
}
.dream-big h2{
    margin-bottom: 20px;
}
.dream-big h3{
    margin-bottom: 20px;
}
.dream-big p{
    margin-bottom: 30px;
}
.dream-btn{
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to left,orange,tomato);
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 16px;
}
/* experance */
#experance{
    margin: 100px 0;
    background: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#experance .ex-heading{
    text-align: center;
}
#experanc .dream-big{


}
.sub-exp{
    display: flex;
}
.sub-exp h3{
    color: orange;
}

.ex-div{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin: 5%;
    padding: 20px;
    
}
.ex-div h1{
    font-size: 45px;
    margin-bottom: 20px;
}

.ex-div:first-child{
    border-left: 6px solid;
    border-image: linear-gradient(rgb(231, 113, 100), rgb(230, 163, 39));
    border-image-slice: 1;
}
.ex-div:last-child{
    border-left: 6px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

/* footer */
footer p{
    text-align: center;
    padding: 30px;
    margin-bottom: 15px;
}